<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <connectionStrings>
    <!--配置数据库连接-->
    <!--Data Source=121.199.49.237;Initial Catalog=SchneiderEPP;Persist Security Info=False;User ID=sa;Password=QWERasdf123456789;-->
    <!--Data Source=.;Initial Catalog=KingkoilWarrantyCard;Persist Security Info=True;User ID=sa;Pwd=123456;-->
    <add name="DefaultConnection" connectionString="Data Source=121.199.49.237;Initial Catalog=SchneiderEPP;Persist Security Info=False;User ID=sa;Password=QWERasdf123456789;" providerName="SQLSERVER"/>
    <!--<add name="DefaultConnection" connectionString="Data Source=121.199.49.237;Initial Catalog=KingkoilWarrantyCard;Persist Security Info=False;User ID=sa;Password=QWERasdf123456789;Application Name=HH.WEBAPI" providerName="SQLSERVER" />-->
  </connectionStrings>
</configuration>